@page
@model FruitSAproductManager.Pages.Products.CreateModel

<div class="card">
    <div class="card-header">
        <h1>Create Product</h1>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.Name" class="control-label"></label>
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Product.Description" class="control-label"></label>
                    <textarea asp-for="Product.Description" class="form-control" style="height: 44px;"></textarea>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Product.CategoryId" class="control-label">Category</label>
                    <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.CategoryList"></select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Product.Price" class="control-label"></label>
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input type="file" asp-for="ImageFile" class="form-control" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<a asp-page="./Overview" class="btn btn-secondary mt-3">Back to List</a>
